@import '../../style/mixins.scss';

.submit-tweet-box{
    position: relative;
    // Parent takes left: 17%  100 - 17 = 83 --> 3 + 77 Removes 3%
    left: 3%;
    width: 77%;
    height: 8em;
    background-color: white;
    border: 1px solid black;
    

    .form{

        .tweetbox-section{
            display: flex;
            flex-direction: row;

            .pfp{
                width: 10%;
                height: 5em;
                img{
                    width: 100%;
                    height: 4.8em;
                    border-radius: 50%;
                    
                }
                
            }
            .text-section{
                width: 90%;

                
                
                .tweet-message{
                    height: 5em;
                    font-size: 14pt;
                    width: 100%;
                    resize: none;
                }
                .misc{
                    .btn-submit{
                        @include btn();
                        width: 10%;
                        background: purple;
                        color: var(--text-light-color);
                    }
                }
                
            }
        }
    }
}