@import '../../style/mixins.scss';

.home{
    position: absolute;
    top: 0; 
    left: 200px; /*Set left value to WidthOfFrameDiv*/
    right: 0;
    bottom: 0;
    overflow: auto; 

    .no-tweets-msg{
        margin-top: 6rem;
        color: var(--text-light-color);
        text-align: center;
        h2 {
            font-size: 3rem;
        }
        
        a{
            @include btn();
            margin-top: 2rem;
            color: var(--text-dark-color);
            background: var(--light-color);
            display: inline-block;

            &:hover{
                text-decoration: unset;
            }
        }
    }
}