@import './sidebar-mixins.scss';
@import '../../style/mixins.scss';

.profile-section{
    @include setDisplay();


    .profile-background-area{
        
        // width: 80%;
        margin: 0 auto;
        // max-width: 41rem;
        margin-top: 2rem;   
        .profile-background-img{
            width: 90%;
        }
    }

    
    
    .profile-picture-section{
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 6.4rem;
        max-width: 90%;

        .profile-picture{
            position: relative;
            bottom: 5rem;
            margin-left: 1rem;
            border: 4px solid white;
            border-radius: 50%;
            width: 11rem;
            height: 11rem;
        }
        button{
            @include btn();
            background-color: white;
            margin-right: 2%;
            margin-top: 2%;

            height: 40%;
        }
    }

    .profile-info-section{
        .profile-name{
            .name{
                font-weight: 900;
                font-size: 2em;
            }
            
            span{
                display: flex;
                flex-direction: column;
                margin-top: 0.7rem;
            }
            span:last-child{
                margin-bottom: 2%;
                color: rgb(165, 154, 154);
            }
        }
        .profile-text-section{
            width: 85%;
            height: 10rem;
            background-color: white;
            p{
                
            }
        }

        .follow-following-section{

        }
    }
    
    .display-tweets-section{
    
    }

    .edit-form{
        position: fixed;
        
        top: 0;
        bottom: 0; 
        left: 0; 
        
        
        
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.2);
    
        display: flex;
        justify-content: center;
        align-items: center;
    
        
        
    
        .edit-box{
            position: relative;
            padding: 32px;
            width: 100%;
            max-width: 640px;
            background-color: #FFF;
            
            .top-of-box{
                display: flex;
                justify-content: space-between;
                span{
                    font-weight: bold;
                }
            }
        }
        button{
            @include btn();
        }
    }
    
}